:root {
    --accent-color1: #000000;  /** Color 1 **/
    --accent-color2: #ffffff;
}

body {
    background-image: url("/image/Fondo_Desarrollo.png"); /* Establece una imagen de fondo */
    background-repeat: no-repeat; /* Centra la imagen de fondo tanto horizontal como verticalmente */
    background-position: center center; /* Ajusta la imagen de fondo para cubrir todo el área del fondo */
    background-size: cover; /* Fija la imagen de fondo para que no se desplace al hacer scroll */
    background-attachment: fixed; /* Utiliza flexbox para el diseño del cuerpo */
    display: flex; /* Organiza los elementos hijos en una columna */
    flex-direction: column; /* Asegura que el cuerpo tenga al menos la altura completa de la ventana */
    min-height: 100vh; /* Elimina el margen predeterminado del cuerpo */
    margin: 0;
}

.contenido-principal {
    flex: 1; /* Permite que el contenido principal ocupe todo el espacio disponible */
}

header {
    background-color: #02010a52; /* Establece un color de fondo semitransparente para el encabezado */
}

nav {
    position: relative; /* Posiciona el elemento de navegación de manera relativa */
    height: 120px; /* Establece la altura del elemento de navegación */
    display: flex; /* Utiliza flexbox para el diseño del contenido del nav */
    flex-direction: row; /* Organiza los elementos hijos en una fila */
    justify-content: flex-end; /* Alinea los elementos hijos al final del contenedor */
}

nav img{
    position:absolute; /* Posiciona la imagen de manera absoluta dentro del nav */
    width: auto; /* Mantiene la proporción de la imagen */
    height: 95px; /* Establece la altura de la imagen */
    top: 5px; /* Posiciona la imagen a 5px desde la parte superior del nav */
    left: 40px; /* Posiciona la imagen a 40px desde la parte izquierda del nav */
    margin-bottom: 55px; /* Añade un margen inferior de 55px a la imagen */
}

.button-container{
    position: relative; /* Posiciona el contenedor de botones de manera relativa */
    max-width: 216px; /* Establece el ancho máximo del contenedor */
    max-height: 55px; /* Establece la altura máxima del contenedor */
    padding: 20px; /* Añade un relleno interno de 20px */
    display: flex; /* Utiliza flexbox para el diseño del contenido del contenedor */
}


.button-container a{
    width: 200px; /* Establece el ancho del enlace */
    height: 40px; /* Establece la altura del enlace */
    background-color: #cbcbcb54; /* Establece el color de fondo del enlace */
    color:white; /* Establece el color del texto del enlace */
    font-size: 1.2em; /* Establece el tamaño de la fuente del texto del enlace */
    font-weight: bold; /* Establece el peso de la fuente del texto del enlace */
    font-family: 'Jura', sans-serif; /* Establece la familia de fuentes del texto del enlace */
    padding: 5px 10px; /* Añade un relleno interno de 5px arriba y abajo, y 10px a los lados */
    border: none; /* Elimina cualquier borde del enlace */
    border-radius: 60px 0px; /* Establece un radio de borde para esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el enlace */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Añade una sombra al enlace */
    transition: background-color 0.3s ease; /* Añade una transición suave al cambiar el color de fondo */
    text-decoration: none; /* Elimina el subrayado del texto del enlace */
    display: inline-block; /* Hace que el enlace se comporte como un bloque en línea */
    text-align: center; /* Centra el texto dentro del enlace */
    line-height: 56px; /* Establece la altura de línea para centrar verticalmente el texto */
}

.desarrollo-button{
    position: absolute; /* Posiciona el botón de manera absoluta */
    top: 45px;  /* Posiciona el botón a 45px desde la parte superior */
    right: 800px; /* Posiciona el botón a 800px desde la parte derecha */
}

.domotica-button{
    position: absolute; /* Posiciona el botón de manera absoluta */
    top: 45px; /* Posiciona el botón a 45px desde la parte superior */
    right: 540px; /* Posiciona el botón a 540px desde la parte derecha */
}

.redes-button {
    position: absolute; /* Posiciona el botón de manera absoluta */
    top: 45px; /* Posiciona el botón a 45px desde la parte superior */
    right: 20px; /* Posiciona el botón a 20px desde la parte derecha */
}

.informatica-button {
    position: absolute; /* Posiciona el botón de manera absoluta */
    top: 45px; /* Posiciona el botón a 45px desde la parte superior */
    right: 280px; /* Posiciona el botón a 280px desde la parte derecha */
}

.button-container a:hover {
    background-color: #970104a6 ; /* Cambia el color de fondo del enlace al pasar el cursor */
}

.inicio {
    position: relative; /* Posiciona la sección de inicio de manera relativa */
    height: 300px; /* Establece la altura de la sección de inicio */
}
/* Logo Apa inicio prinsipal */
.logo-inicio {
    position: absolute; /* Posiciona el logo de manera absoluta */
    top: 50%; /* Centra el logo verticalmente */
    left: 150px; /* Posiciona el logo a 150px desde la parte izquierda */
    transform: translateY(-50%); /* Ajusta la posición del logo para centrarlo verticalmente */
    max-width: 100%; /* Establece el ancho del logo */
    width: 250px;
    height: 250px;
}

h1 {
    position:absolute; /* Posiciona el título de manera absoluta */
    color: #970103; /* Establece el color del texto del título */
    text-shadow: 2px 4px 5px #000000; /* Añade una sombra al texto del título */
    top: 60px; /* Posiciona el título a 160px desde la parte superior */
    right: 180px; /* Posiciona el título a 320px desde la parte derecha */
    z-index: 1; /* Asegura que el título esté por encima de otros elementos */
    font-size: 4em; /* Establece el tamaño de la fuente del título */
}
.p-desarrollo {
    background-color: #630002a6; /* Establece el color de fondo del párrafo */
    color: var(--accent-color2); /* Establece el color del texto del párrafo usando una variable */
    padding: 20px; /* Añade un relleno interno de 20px */
    border-radius: 20px; /* Establece un radio de borde para esquinas redondeadas */
    position:absolute; /* Posiciona el párrafo de manera absoluta */
    top: 50%; /* Centra el párrafo verticalmente */
    right: 50px; /* Posiciona el párrafo a 50px desde la parte derecha */
    transform: translateY(-50%); /* Ajusta la posición del párrafo para centrarlo verticalmente */
    width: 700px; /* Establece el ancho del párrafo */
    height: 300px; /* Establece la altura del párrafo */
    text-align: left; /* Alinea el texto a la izquierda */
    display: flex; /* Utiliza flexbox para el diseño del contenido del párrafo */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    font-size: 2em; /* Establece el tamaño de la fuente del párrafo */
}

.carousel-dots {
    text-align: center; /* Centra el contenido horizontalmente */
    margin-top: 540px; /* Añade un margen superior de 540px */
    margin-left: 700px; /* Añade un margen izquierdo de 700px */
    position: relative; /* Posiciona el contenedor de manera relativa */
    top: 10px; /* Posiciona el contenedor a 10px desde la parte superior */
    z-index: 1; /* Asegura que el contenedor esté por encima de otros elementos */
}

.dot {
    display: inline-block; /* Hace que el punto se comporte como un bloque en línea */
    width: 20px; /* Establece el ancho del punto */
    height: 20px; /* Establece la altura del punto */
    border-radius: 50%; /* Hace que el punto sea circular */
    background-color: #630002a6; /* Establece el color de fondo del punto */
    margin: 0 8px; /* Añade un margen de 8px a los lados del punto */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el punto */
}

.dot.active{
    background-color: #970103; /* Cambia el color de fondo del punto activo */
}

footer {
    background-color: #02010a52; /* Establece un color de fondo semitransparente para el pie de página */
    color:white; /* Establece el color del texto en el pie de página */
    position: relative; /* Posiciona el pie de página de manera relativa */
    display: flex; /* Utiliza flexbox para el diseño del contenido del pie de página */
    justify-content: flex-end; /* Alinea los elementos hijos al final del contenedor */
    align-items: flex-end; /* Alinea los elementos hijos al final del contenedor verticalmente */
    padding: 10px; /* Añade un relleno interno de 10px */
}

.social-options {
    margin-right: 10px; /* Añade un margen derecho de 10px */
}

.contact-options {
    position: relative; /* Posiciona el contenedor de opciones de contacto de manera relativa */
    display: inline-block; /* Hace que el contenedor se comporte como un bloque en línea */
  }
  
  .contact-dropdown {
    display: none; /* Oculta el menú desplegable por defecto */
    position: absolute; /* Posiciona el menú desplegable de manera absoluta */
    background-color: #cbcbcb38; /* Establece un color de fondo semitransparente para el menú desplegable */
    min-width: 120px; /* Establece el ancho mínimo del menú desplegable */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Añade una sombra al menú desplegable */
    z-index: 1; /* Asegura que el menú desplegable esté por encima de otros elementos */
    bottom: 100%; /* Posiciona el menú desplegable justo encima del contenedor */
    left: 0; /* Alinea el menú desplegable con el borde izquierdo del contenedor */
    transform: translateY(-5px); /* Ajusta la posición del menú desplegable */
  }
  
  .contact-dropdown a {
    color: black; /* Establece el color del texto de los enlaces en el menú desplegable */
    padding: 12px 16px; /* Añade un relleno interno de 12px arriba y abajo, y 16px a los lados */
    text-decoration: none; /* Elimina el subrayado del texto de los enlaces */
    display: block; /* Hace que los enlaces se comporten como bloques */
  }
  
  .contact-dropdown a:hover {
    background-color: #970104a6; /* Cambia el color de fondo del enlace al pasar el cursor */
    color:white; /* Cambia el color del texto del enlace al pasar el cursor */
  }
  
  .contact-icon {
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el icono de contacto */
  }


.social-options {
    position: relative; /* Posiciona el contenedor de opciones sociales de manera relativa */
    display: inline-block; /* Hace que el contenedor se comporte como un bloque en línea */
}

.social-icon {
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el icono social */
}

  .location-menu {
    position: relative; /* Posiciona el menú de ubicación de manera relativa */
    display: inline-block; /* Hace que el menú se comporte como un bloque en línea */
    margin-right: 15px; /* Añade un margen derecho de 15px */
  }
  
  .location-icon {
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el icono de ubicación */
  }


footer img{
    margin: 0 15px; /* Añade un margen de 15px a los lados de las imágenes en el pie de página */
}