body {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #857d7d;
}

.container {
    text-align: center;
}

.equipo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    background-color: white; 
    z-index: 0;
    width: 65%;
}

.flecha-izquierda  {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-30%, 105%);
    top: 50%;
    height: 50%;
}

.flecha-derecha {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(30%, 105%);
    top: 50%
}

.cuadro-equipo {
    /* Overall container styles */
    width: 300px; /* Adjust width as needed */
    height: 100px;
    border: 15px solid #0c0c0c; /* Borde gris claro */
    border-radius: 15px; /* Rounded corners */

    background-color: #0f0f0f; /* Light gray background */
  }
  

  .prueba {
    width: 500px;
    height: 500px;
    background-color: #0f0f0f; /* Light gray background */
    border-radius: 15px; /* Rounded corners */
    border: 15px solid #ff0000; /* Borde gris claro */

  }
