:root {
    --accent-color1: #000000;  
    --accent-color2: #ffffff;
}


body {
    background-image: url("/image/Informatica.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.contenido-principal {
    flex: 1;
}

header {
    background-color: #02010a52;
}

nav {
    position: relative;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav img{
    position:absolute;
    width: auto;
    height: 95px;
    top: 5px;
    left: 40px;
    margin-bottom: 55px;
}


.button-container{
    position: relative;
    max-width: 216px;
    max-height: 55px;
    padding: 20px;
    display: flex;
}


.button-container a{
    width: 200px;
    height: 40px;
    background-color: #cbcbcb54;
    color:white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Jura', sans-serif;
    padding: 5px 10px;
    border: none;
    border-radius: 60px 0px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 56px;
}


.desarrollo-button{
    position: absolute;
    top: 45px;
    right: 800px;
}

.domotica-button{
    position: absolute;
    top: 45px;
    right: 540px;
}

.redes-button {
    position: absolute;
    top: 45px;
    right: 20px;
}

.informatica-button {
    position: absolute;
    top: 45px;
    right: 280px;
}

.button-container a:hover {
    background-color: #2c25f47a ;
}

.inicio {
    position: relative;
    height: 300px;
}

.logo-inicio {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 250px;
    height: 250px;
}

h1 {
    position:absolute;
    color: #4e4aea;
    text-shadow: 2px 4px 5px black;
    top: 60px;
    right: 320px;
    z-index: 1;
    font-size: 4em;
}
.p-informatica {
    background-color: #2c25fa65;
    color: var(--accent-color2);
    padding: 20px;
    border-radius: 20px;
    position:absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    width: 700px;
    height: 300px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.carousel-dots {
    text-align: center;
    margin-top: 540px;
    margin-left: 700px;
    position: relative;
    top: 10px;
    z-index: 1;
}

.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2c25fa65;
    margin: 0 8px;
    cursor: pointer;
}

.dot.active{
    background-color: #2c25fa;
}

.social-options {
    margin-right: 10px;
}
.contact-options {
    position: relative;
    display: inline-block;
  }
  
  .contact-dropdown {
    display: none;
    position: absolute;
    background-color: #cbcbcb38;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 100%;
    left: 0;
    transform: translateY(-5px);
  }
  
  .contact-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .contact-dropdown a:hover {
    background-color: #2c25fa5d;
  }
  
  .contact-icon {
    cursor: pointer;
  }


.social-options {
    position: relative;
    display: inline-block;
}

.social-icon {
    cursor: pointer;
}

.location-menu {
    position: relative;
    display: inline-block;
    margin-right: 15px;
  }

  .location-icon {
    cursor: pointer;
  }

footer {
    background-color: #02010a52;
    color:white;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

footer img{
    margin: 0 15px;
}